<%= render 'layouts/header' %>

<div id="search">
  <%= form_tag(location_category_workouts_path(@location.id, @category.id), method: 'get', id: 'search-form') do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search All Workouts" %>
    <%= submit_tag "Search", name: nil %>
    <% if @all_workouts.blank? %>
      <p id="search-results">No results found.</p>
    <% end %>
  <% end %>
</div>

<span>  <%= link_to "Add New Workout", new_location_category_workout_path, class: "back add" %>
</span>

<h1 class="category">
  <% if @category.category == 'Barre Class' || @category.category == 'Spin Class' %>
    <%= @category.category %>es in <%= @location.city %>:
  <% elsif @category.category == 'Swim'%>
    <%= @category.category %>ming Pools in <%= @location.city %>:
  <% elsif @category.category == 'Rock Climbing'%>
    <%= @category.category %> in <%= @location.city %>:
  <% else %>
    <%= @category.category %> in <%= @location.city %>:
  <% end %>
</h1>

<ul>
  <% @all_workouts.each do |w| %>
  <li>
    <%= link_to w.name, location_category_workout_path(@location.id, @category.id, w.id) %>
    <br />
    <%= w.street %>
  </li><br />

  <% end %>
</ul>

<span>  <%= link_to "Back to Categories", location_categories_path(@location.id), class: "back" %>
</span>


  <div id="map" style="width:100%;height:500px"></div>

  <script>
    function myMap() {
      var mapCanvas = document.getElementById("map");
      var mapOptions = {
        center: new google.maps.LatLng(51.5, -0.2),
        zoom: 10
      }
      var map = new google.maps.Map(mapCanvas, mapOptions);
    }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB889X3aSeGkJCFzO3i6inz6SWOynZczDU&callback=myMap"></script>
