<%= render 'layouts/header' %>

<h1 class="category">
  <% if @category.category == 'Barre Class' || @category.category == 'Spin Class' %>
    <%= @category.category %>es in <%= @location.city %>:
  <% elsif @category.category == 'Swim'%>
    <%= @category.category %>ming Pools in <%= @location.city %>:
  <% elsif @category.category == 'Rock Climbing'%>
    <%= @category.category %> in <%= @location.city %>:
  <% else %>
    <%= @category.category %> in <%= @location.city %>:
  <% end %>
</h1>

<ul>
  <% @workout.each do |w| %>
  <li>
    <%= link_to w.name, location_category_workout_path(@location.id, @category.id, w.id) %>
    <%= w.street %>
  </li>
  <% end %>
</ul>


<span>  <%= link_to "Add New Workout", new_location_category_workout_path, class: "back add" %>
</span>
