<%= render 'layouts/header' %>

<h1>
  <% if @category.category == 'Class' %>
    <%= @category.category %>es in <%= @location.city %>:
  <% elsif @category.category == 'Swim'%>
    <%= @category.category %>ing Pools in <%= @location.city %>:
  <% elsif @category.category == 'Sports'%>
    <%= @category.category %> Facilicties in <%= @location.city %>:
  <% elsif @category.category == 'Rock Climbing'%>
    <%= @category.category %> in <%= @location.city %>:
  <% else %>
    <%= @category.category %>'s in <%= @location.city %>:
  <% end %>
</h1>

<ul>
  <% @workouts.each do |w| %>
    <a class="workout" href="/locations/<%= @location.id %>/categories/ <%= @category.id %>/workouts/ <%= w.id %>">
    <li><%= w.name %></li></a>
  <% end %>
</ul>
