<%= render 'layouts/header' %>

<h1><%= @workout.name %></h1>

<% if current_user %>
  <% if current_user.admin? %>
    <button type="button"><%= link_to 'Edit Workout', edit_location_category_workout_path(@location.id, @category.id, @workout.id) %></button>
  <% end %>

  <% if current_user.admin? %>
    <button type="button"><%= link_to 'Delete Workout', location_category_workout_path(@location.id, @category.id, @workout.id), method: :delete %></button>
  <% end %>
<% end %>

  <h4>Address: <%= @workout.street%></h4>

<% if @yelp_data %>
  <ul>
    <% @yelp_data.businesses.each do |result| %>
      <li>Phone: <%= result.display_phone %></li>
      <li>Yelp Rating: <%= result.rating %></li>
      <li><%= link_to "Check out more on Yelp!", result.mobile_url, target: "blank", class: "yelp" %></li>
    <% end %>

    <% if current_user %>
      <div class="form">
        <%= form_for [@workout, @favorite] do |f| %>
          <%= f.hidden_field :user_id %><br />
          <%= f.hidden_field :workout_id %><br / >
          <%= f.submit "Add to Favorites", class: "submit" %>
       <% end %>
      </div>
    <% end %>
  </ul>
<% end %>

<span><%= link_to "Back to Results", location_category_workouts_path, class: "back" %></span>
