<%= render 'layouts/header' %>

<h1><%= @workout.name %></h1>

<ul>
  <% if @workout.street %>
    <li><%= @workout.street %></li>
  <% end %>
  <li><%= @workout.location.city %></li>
  <% if @workout.phone %>
    <li><%= @workout.phone %></li>
  <% end %>
</ul>

<span><%= link_to "Back to Results", location_category_workouts_path, class: "back" %></span>
