<% if current_user %>
  <div id="fav-form">
    <%= form_for [@workout, @favorite] do |f| %>
      <%= f.hidden_field :workout_id, value: @workout.id %>
      <%= f.submit "Add to Favorites", class: "fav-butt" %>
   <% end %>
  </div>
<% end %>

<h1 id="workout-name"><a href="<%= @place_details["result"]["website"] %>", target="blank" class="business-name"><%= @workout.name %></a></h1><br />
<% if @place_details["result"]["website"] %>
  <%= link_to "Go to site", @place_details["result"]["website"], target: "blank", class: "site"%><br />
<% end %>

<% if @yelp_data %>
  <% @yelp_data.businesses.each do |result| %>
    <span><%= link_to "Check out more on Yelp!", result.mobile_url, target: "blank", class: "yelp" %></span><br />
    <span>Rating: <%= result.rating %> / 5</span>
  <% end %>
<% end %>

<% if current_user %>
  <% if current_user.admin? %>
    <button type="button"><%= link_to 'Edit Workout', edit_location_category_workout_path(@location.id, @category.id, @workout.id) %></button>
  <% end %>

  <% if current_user.admin? %>
    <button type="button"><%= link_to 'Delete Workout', location_category_workout_path(@location.id, @category.id, @workout.id), method: :delete %></button>
  <% end %>
<% end %>

<h4 class="address">Address: <%= @workout.street%></h4>

<div id='map'>
  <%= render 'layouts/map' %>
</div>

<div class="places_info">
  <% if @place_details["result"]["formatted_phone_number"] %>
    <span class="phone">Phone: <%= @place_details["result"]["formatted_phone_number"] %></span><br /><br />
  <% end %>
    <% if @place_details["result"]["opening_hours"] %>
      <span class="hours-header">BUSINESS HOURS:</span><br />
      <span class="hours"><% @place_details["result"]["opening_hours"]["weekday_text"].each do |d| %>
      <%= d %><br /></span>
    <% end %>
  <% end %>
</div>

<br />

<img src="<%= @uri %>", class="logo-pic">

<br />

<div class="comment">
<h3 class="comments">GOOGLE REVIEWS</h3>
  <% @reviews.each do |review| %>
    <ul>
      <li class="body"><%= review["text"] %><br />
        <span class="rating">Rating: <%= review["rating"] %></span>
      </li>
      <li class="reviewer">-<%= review["author_name"] %></li>
    </ul>
  <% end %>
</div>
<br />

<h3 class="comments">COMMENTS</h3>

<span><%= link_to 'Add New Comment', new_workout_comment_path(@workout.id), class: "comm" %></span><br />
<br />

<ul>
  <div class="comment">
    <% @comments.each do |c| %>
      <li class="body"><%= c.body %></li>
      <li class="reviewer">-<%= c.user.username %>
        <div class="options">
          <% if current_user %>
            <% if current_user.id == c.user_id %>
            <button type="button"><%= link_to 'Edit Comment', edit_workout_comment_path(@workout, c), class: "button", id: "edit-workout-review-button" %></button>
            <% end %>
            <% if current_user.id == c.user_id || current_user.admin? %>
              <button type="button"><%= link_to 'Delete Comment', workout_comment_path(@workout.id, c), method: :delete %></button>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  </div>
</ul>
<br />

<span><%= link_to "Back to Results", location_category_workouts_path, class: "back" %></span>

<%= render 'layouts/navbar' %>
