<%= render 'layouts/header' %>

<h1><%= @workout.name %></h1>

<% if current_user %>
  <% if current_user.admin? %>
    <button type="button"><%= link_to 'Edit Workout', edit_location_category_workout_path(@location.id, @category.id, @workout.id) %></button>
  <% end %>

  <% if current_user.admin? %>
    <button type="button"><%= link_to 'Delete Workout', location_category_workout_path(@location.id, @category.id, @workout.id), method: :delete %></button>
  <% end %>
<% end %>

  <h4>Address: <%= @workout.street%></h4>

<% if @yelp_data %>
  <ul>
    <% @yelp_data.businesses.each do |result| %>
      <li>Phone: <%= result.display_phone %></li>
      <li>Rating: <%= result.rating %></li>
      <% if result.deals %>
      <li>Deals: <%= result.deals %></li><br />
      <% end %>
      <li><%= link_to "Check out more on Yelp!", result.mobile_url, target: "blank", class: "yelp" %></li>
    <% end %>
  </ul>
  <% end %>

<span><%= link_to "Back to Results", location_category_workouts_path, class: "back" %></span>
