<%= render 'layouts/header' %>

<h1><%= @workout["name"] %></h1>

<ul>
  <li><%= @workout["formatted_address"]%></li>
  <li>Hours: <%= @workout["opening_hours"] %></li>
  <li>Rating: <%= @workout["rating"] %></li>
</ul>

<span><%= link_to "Back to Results", location_category_workouts_path, class: "back" %></span>
