<%= render 'layouts/header' %>

<h1><%= @workout.name %></h1>
<% if current_user %>
  <% if current_user.admin? %>
    <button type="button"><%= link_to 'Edit Workout', edit_location_category_workout_path(@location.id, @category.id, @workout.id) %></button>
  <% end %>

  <% if current_user.admin? %>
    <button type="button"><%= link_to 'Delete Workout', location_category_workout_path(@location.id, @category.id, @workout.id), method: :delete %></button>
  <% end %>
<% end %>
<ul>
  <li><%= @workout.street%></li>
</ul>

<span><%= link_to "Back to Results", location_category_workouts_path, class: "back" %></span>
