<%= render 'layouts/header' %>

<h1><%= @workout.name %></h1>

<ul>
  <% if @workout.street %>
    <li><%= @workout.street %></li>
  <% end %>
  <li><%= @workout.location.city %></li>
  <% if @workout.phone %>
    <li><%= @workout.phone %></li>
  <% end %>
</ul>

<span id="back"><%= link_to "Back to Workouts", location_category_workouts_path %></span>
