<p class="tagline">Choose your workout category:</p>

<div class="picture-layout">
  <ul id="rig">
    <% @categories.each do |c| %>
      <li>
        <a class="rig-cell" href="/locations/<%= @location.id %>/categories/<%= c.id %>/workouts">
          <%= image_tag(c.photo, class: "rig-img") unless c.photo.blank? %>
            <span class="rig-overlay" id="category"></span>
            <span class="rig-text"><%= c.category %></span>
        </a>
      <% end %>
    </li>
  </ul>
</div>

<p class="city"><%= @location.city %></p>

<%= render 'layouts/navbar' %>
