<%= render 'layouts/header' %>
<%= render 'layouts/searchbar' %>

<div class="picture-layout">
  <ul id="rig">
    <% @locations.each do |l| %>
      <li>
        <div id=<%= l.city %>>
        <a class="rig-cell" href="/locations/<%= l.id %>/categories">
          <% if l.photo %>
            <%= image_tag(l.photo, class: "rig-img") unless l.photo.blank? %>
          <% end %>
          <span class="rig-overlay"></span>
          <span class="rig-text" ><%= l.city %></span>
        </a>
      </div>
      </li>
    <% end %>
  </ul>
</div>
