<nav id="navbar">
  <ul>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <li class="admin-links">
          <%= link_to 'Admin Controls', users_path %>
        </li>
      <% end %>
      <li class="signed-in">Signed in as <span class="username"><%= current_user[:username] %></span></li>
      <li>
        <% if current_user.avatar? %>
          <%=  image_tag(current_user.avatar.url, class: "avatar") %></div>
        <% else %>
          <%= image_tag("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRoiWq8MqUo4d1JqenwFQ-1pPmAWgHYLYT9P-UWOgBupcDxWPTKfg", class: "avatar") %>
        <% end %>
      </li>
      <li><%= link_to 'My Account', user_path(current_user) %>
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
    <% else %>
    <li><%= link_to 'Sign In', new_user_session_path %></li>
    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>
