<!DOCTYPE html>
<html>
  <head>
    <title>jetSweat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Oswald" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="flash">
      <% flash.each do |key, message| %>
      <%= message %>
    <% end %>
    </div>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
